@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size:16px;
  font-family: 'Poppins',sans-serif;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    'header'
    'main'
    'footer';
  height: 100vh;
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: #648ca6;
}

.header-name {
	text-align:center;
	font-size:30px;
	font-weight:500;
	font-family: 'Dancing Script', cursive;		
}

.header__search {
  margin-left: 42px;
}

.sidenav {
  grid-area: sidenav;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 240px;
  position: fixed;
  overflow-y: auto;
  transform: translateX(-245px);
  transition: all .6s ease-in-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  z-index: 2; /* Needs to sit above the hamburger menu icon */
  background-color: #2c3444;
}

.sidenav.active {
  transform: translateX(0);
}

.sidenav__list {
  padding: 0;
  margin-top: 85px;
  list-style-type: none;
}

.sidenav__list-item {
  padding: 20px 20px 20px 40px;
  color: #fff;
}
.sidenav__list-item a {
  text-decoration:none;
  outline:none;
  color:#fff;
}
.sidenav__list-item.selected {
	background-color: #616773;
}
.sidenav__list-item:hover {
  background-color: #616773;
  cursor: pointer;
}

.main {
  grid-area: main;
  background-color: #fff;
  color:black;
}
.main-header__heading {
	font-size:20px;
}
.main-header__heading p{
	text-decoration: underline;
}
.main-header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  height: 150px;
  color: black;
}

/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 46.875em) {

	.grid-container {
    grid-template-columns: 240px 1fr;
    grid-template-areas:
      "sidenav header"
      "sidenav main"
      "sidenav footer";
  }

  .header__search {
    margin-left: 0;
  }

  .sidenav {
    position: relative;
    transform: translateX(0);
  }

  .sidenav__close-icon {
    visibility: hidden;
  }
}

/* Medium screens breakpoint (1050px) */
@media only screen and (min-width: 65.625em) {
  /* Break out main cards into two columns */
  .main-cards {
    column-count: 2;
  }
}
		
.main-main {
  margin-left: 170px; 
  font-size: 28px; 
  padding: 0px 10px;
}

.button a button{
	padding: 8px 40px;
	font-size:16px;
	border-radius:5px;
	outline :0;
	box-shadow:0;
	font-weight:400;
	border:none;
	cursor: pointer;
	transition: all 0.3s ease;
	background: #dddddd;
}

.button a button:hover, 	
.button a button:focus {
	background:#2c3444;
	color:#fff;
	letter-spacing:1px;
}

table {
  	border-collapse: collapse;
  	width: 100%;			
	font-size:20px;
	font-weight:500;
}

td, th {
  font-weight:500;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 15px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.table-header{
  font-weight:500;
  text-align:center;
  text-decoration:underline;
  padding:5px;
}
		
.flex-container {
    display: flex;
	width:50vw;		
	font-size:20px;
    padding:10px;
}

.values {
  flex: 1;
  border: 2px solid white;
  text-align:left;	
  width:100%;
  padding:15px 20px;			
}  

.values:first-child {
    margin-right: 20px;
}
.main__list {
  padding: 0;
  list-style-type: none;
  color: black;
}

.values.two .main__list-item{
  color: black;
  list-style-type: none;			
}
select {
	padding:3px 30px;
	margin-left:10px;		
	font-size:16px;
	border-color: black;
}
select:focus{
	border-color:#616773;
}
.status,
.reasonField {
    font-size:16px;
    padding: 3px 15px;
    margin-left:10px;
	width: 230px;
	border-color: #616773;
	height: 30px;
  	outline: none;
}

.reasonField,
.dateField,
.status {
  border-radius: 5px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}		
.main .message{
  margin-top:10px;
  color : red;
  text-align:center;
  font-size:16px;
}	
.reasonField {
	margin-top:10px;
}
.dateField {
	font-size:16px;
	margin-top:10px;
}
.reasonField:hover,
.reasonField:focus,
.dateField:hover,
.dateField:focus,
.status:focus,
.status:hover {
	border-color:#616773;
	}
.dateField {
  font-size:16px;
	margin-left:10px;
}
.sidenav__list-item.selected {
	background-color: #616773;
}
form .button{
   height: 45px;
   margin: 35px 0;
 }
form .button {
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: #2c3444;
 }
form .button:hover{
  /* transform: scale(0.99); */
  background: #616773;
  }
  
.extraField {
    font-size:16px;
    padding: 3px 15px;
	width: 300px;
	border-color: #616773;
	height: 30px;
  	outline: none;
    box-sizing:border-box;
    height: 45px;
	border-radius: 5px;
	border: 1px solid #ccc;
	border-bottom-width: 2px;
  	transition: all 0.3s ease;
  	margin-bottom:20px;
}

.extraField:hover {
	border-color:#616773;
}